body {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
}

header {
    height: 25vh;
    width: 100%;
    display: flex;

    flex-direction: row;
}

centr {
    min-height: 50vh;
    height:fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.right-center {
    min-height: 100%;
    width: 75%;
    display: flex;

    flex-direction: column;
    align-self: right;
}

.bottom-center {
    display: flex;

    flex-direction: row;
    align-self: flex-end;
    min-height: 100%;
    width: 100%;
}

footer {
    height: 25vh;
    width: 100%;
    display: flex;

    flex-direction: row;
}

.container {
    display: flex;
    min-height: 100%;
    width: 100%;
    flex-direction: column;
}

#header {
    background-color: blue;
    text-align: right;
    height: 100%;
    width: 100%;
    align-self: flex-start;
}

#X {
    background-color: white;
    height: 10%;
    width: 25%;
    align-self: flex-start;
    position:absolute;
    top: 7%;
    left: 5vw;
    /* position: absolute;
    top: 0;
    left: 0; */
}

#left {
    background-color: pink;
    min-height: 100%;
    width: 25%;
    align-self: flex-start;
}

#nav {
    background-color: green;
    text-align: right;
    height: 10vh;
    width: 100%;
    align-self: flex-start;
}

#center {
    background-color: white;
    min-height: 100%;
    width: 75%;
}

#right {
    background-color: pink;
    min-height: 100%;
    width: 25%;
}

#Y {
    background-color: white;
    height: 10%;
    width: 25%;
    align-self: flex-end;
    position:absolute;
    /* bottom: 5%; */
    top:-10%;
    right: 5vw;
    /* position: absolute;
    bottom: 0%; */
    /* left: 75%; */
}

#footer {
    background-color: blue;
    height: 100%;
    width: 100%;
    align-self: flex-end;
}
